@import url(../partials/contact-card/contact-card.css);
@import url(../partials/message-card/message-card.css);
@import url(../partials/search-panel/search-panel.css);
@import url(../partials/options-panel/options-panel.css);
@import url(../partials/message-panel/message-panel.css);
@import url(../partials/chat-panel/chat-panel.css);
@import url(../partials/content-wrapper/content-wrapper.css);



* {
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	width: 98vw;
	height: 98vh;
	background-image: url(../asserts/background.jpg);
	background-size: cover;
	overflow: hidden;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.grow {
	flex-grow: 1;
}

.grow3 {
	flex-grow: 3;
}

.main {
	flex-wrap: nowrap;
	align-items: stretch;
	height: 100%;
	width: 100%;
}

