{{!< main}} 
<div class="flex main">
    <div class="flex col grow">
        {{> 'search-panel/search-panel'}}
        {{> 'content-wrapper/content-wrapper' chats}}
        {{> 'options-panel/options-panel'}}
    </div>
    <div class="flex col grow3">
        {{> 'chat-panel/chat-panel'}}
        {{> 'content-wrapper/content-wrapper' messages}}
        {{> 'message-panel/message-panel'}}
    </div>
    </div>